In [17]:
import pandas as pd
import numpy as np
pd.options.display.max_columns=None
pd.options.display.max_rows=None

### Apertura de los archivos .csv como DataFrame

In [18]:
data_csv1 = pd.read_csv('datos/exported_db_data.csv')
data_csv1.drop(['index'], axis = 1, inplace = True)
data_csv1.head(1)

,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data_csv1.index

RangeIndex(start=0, stop=25973, step=1)

In [20]:
data_csv2 = pd.read_csv('datos/data_remaning_kaggle.csv', index_col = 0).reset_index(drop = True)
data_csv2.drop(['index'], axis = 1, inplace = True)
data_csv2.head(1)

,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data_csv2.index

RangeIndex(start=0, stop=25973, step=1)

### Apertura del archivo .txt y creación de un DataFrame

In [22]:
data_txt = pd.read_csv('datos/data_txt_clean.txt', sep = ';')
data_txt.drop(['index'], axis = 1, inplace = True)
data_txt.head(1)

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None

In [23]:
data_txt.index

RangeIndex(start=0, stop=25973, step=1)

### Apertura del archivo .xml y creación de un DataFrame

In [24]:
data_xml = pd.read_xml('datos/data_xml_clean.xml')
data_xml.drop(['level_0','index'],axis=1,inplace=True)
data_xml.head()

   time    age gender
0   910  50-54    Man
1   784  50-54    Man
2   924  22-24    Man
3   575  45-49    Man
4   781  45-49    Man

In [25]:
data_xml.index

RangeIndex(start=0, stop=25973, step=1)

### Creación de una función de propiedades de DataFrames

In [26]:
def parametros(dataframe): 

     print(f'El tamaño del DataFrame es {dataframe.size}')
     print('------------------------------------------------------------------------')
     print(f'El número de filas y columnas del DataFrame es {dataframe.shape}')
     print('------------------------------------------------------------------------')
     print('La descripción estadística del DataFrame es:')
     display(dataframe.describe())
     print('------------------------------------------------------------------------')
     print('La información general del DataFrame es:')
     display(dataframe.info())
     print('------------------------------------------------------------------------')
     print(f'Las columnas de este DataFrame son {dataframe.columns}')
     print('------------------------------------------------------------------------')
     print(f'El tipo de dato de las columnas de este DataFrame es {dataframe.dtypes}')
     print('------------------------------------------------------------------------')
     print(f'Los nulos de este DataFrame son {dataframe.isnull().sum()}')

# Creamos una función para poder explorar los datos de cada DataFrame.

In [27]:
parametros(data_csv1)

El tamaño del DataFrame es 441541
------------------------------------------------------------------------
El número de filas y columnas del DataFrame es (25973, 17)
------------------------------------------------------------------------
La descripción estadística del DataFrame es:

       Q10_Part_16
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

------------------------------------------------------------------------
La información general del DataFrame es:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Q10_Part_1   9507 non-null   object
 1   Q10_Part_2   9792 non-null   object
 2   Q10_Part_3   1062 non-null   object
 3   Q10_Part_4   209 non-null    object
 4   Q10_Part_5   1770 non-null   object
 5   Q10_Part_6   175 non-null    object
 6   Q10_Part_7   1067 non-null   object
 7   Q10_Part_8   753 non-null    object
 8   Q10_Part_9   348 non-null    object
 9   Q10_Part_10  2051 non-null   object
 10  Q10_Part_11  1794 non-null   object
 11  Q10_Part_12  590 non-null    object
 12  Q10_Part_13  251 non-null    object
 13  Q10_Part_14  260 non-null    object
 14  Q10_Part_15  147 non-null    object
 15  Q10_Part_16  0 non-null      float64
 16  Q10_OTHER    737 non-null    object
dtypes: float64(1), object(16)
memory usage: 3.4+ MB

None

------------------------------------------------------------------------
Las columnas de este DataFrame son Index(['Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14',
       'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object')
------------------------------------------------------------------------
El tipo de dato de las columnas de este DataFrame es Q10_Part_1      object
Q10_Part_2      object
Q10_Part_3      object
Q10_Part_4      object
Q10_Part_5      object
Q10_Part_6      object
Q10_Part_7      object
Q10_Part_8      object
Q10_Part_9      object
Q10_Part_10     object
Q10_Part_11     object
Q10_Part_12     object
Q10_Part_13     object
Q10_Part_14     object
Q10_Part_15     object
Q10_Part_16    float64
Q10_OTHER       object
dtype: object
------------------------------------------------------------------------
Los nulos de este DataFrame son Q10_Part_1     16466
Q10_Part_2     16181
Q10_Part_3     24911
Q10_Part_4     25764
Q10_Part_5     24203
Q10_Part_6     25798
Q10_Part_7     24906
Q10_Part_8     25220
Q10_Part_9     25625
Q10_Part_10    23922
Q10_Part_11    24179
Q10_Part_12    25383
Q10_Part_13    25722
Q10_Part_14    25713
Q10_Part_15    25826
Q10_Part_16    25973
Q10_OTHER      25236
dtype: int64

In [28]:
parametros(data_csv2)

El tamaño del DataFrame es 5506276
------------------------------------------------------------------------
El número de filas y columnas del DataFrame es (25973, 212)
------------------------------------------------------------------------
La descripción estadística del DataFrame es:

,Q18_Part_6,Q19_Part_5,Q27_A_Part_11,Q40_Part_11,Q42_Part_11,Q27_B_Part_11,Q29_B_Part_4,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_9,Q32_B_Part_20,Q34_B_Part_16,Q36_B_Part_7,Q37_B_Part_7,Q38_B_Part_11
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

------------------------------------------------------------------------
La información general del DataFrame es:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 212 entries, Q18_Part_1 to Q38_B_OTHER
dtypes: float64(21), object(191)
memory usage: 42.0+ MB

None

------------------------------------------------------------------------
Las columnas de este DataFrame son Index(['Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5',
       'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=212)
------------------------------------------------------------------------
El tipo de dato de las columnas de este DataFrame es Q18_Part_1        object
Q18_Part_2        object
Q18_Part_3        object
Q18_Part_4        object
Q18_Part_5        object
Q18_Part_6       float64
Q18_OTHER         object
Q19_Part_1        object
Q19_Part_2        object
Q19_Part_3        object
Q19_Part_4        object
Q19_Part_5       float64
Q19_OTHER         object
Q27_A_Part_1      object
Q27_A_Part_2      object
Q27_A_Part_3      object
Q27_A_Part_4      object
Q27_A_Part_5      object
Q27_A_Part_6      object
Q27_A_Part_7      object
Q27_A_Part_8      object
Q27_A_Part_9      object
Q27_A_Part_10     object
Q27_A_Part_11    float64
Q27_A_OTHER       object
Q28               object
Q29_A_Part_1      object
Q29_A_Part_2      object
Q29_A_Part_3      object
Q29_A_Part_4      object
Q29_A_OTHER       object
Q30_A_Part_1      object
Q30_A_Part_2      object
Q30_A_Part_3      object
Q30_A_Part_4      object
Q30_A_Part_5      object
Q30_A_Part_6      object
Q30_A_Part_7      object
Q30_A_OTHER       object
Q31_A_Part_1      object
Q31_A_Part_2      object
Q31_A_Part_3      object
Q31_A_Part_4      object
Q31_A_Part_5      object
Q31_A_Part_6      object
Q31_A_Part_7      object
Q31_A_Part_8      object
Q31_A_Part_9      object
Q31_A_OTHER       object
Q36_A_Part_1      object
Q36_A_Part_2      object
Q36_A_Part_3      object
Q36_A_Part_4      object
Q36_A_Part_5      object
Q36_A_Part_6      object
Q36_A_Part_7      object
Q36_A_OTHER       object
Q37_A_Part_1      object
Q37_A_Part_2      object
Q37_A_Part_3      object
Q37_A_Part_4      object
Q37_A_Part_5      object
Q37_A_Part_6      object
Q37_A_Part_7      object
Q37_A_OTHER       object
Q38_A_Part_1      object
Q38_A_Part_2      object
Q38_A_Part_3      object
Q38_A_Part_4      object
Q38_A_Part_5      object
Q38_A_Part_6      object
Q38_A_Part_7      object
Q38_A_Part_8      object
Q38_A_Part_9      object
Q38_A_Part_10     object
Q38_A_Part_11     object
Q38_A_OTHER       object
Q39_Part_1        object
Q39_Part_2        object
Q39_Part_3        object
Q39_Part_4        object
Q39_Part_5        object
Q39_Part_6        object
Q39_Part_7        object
Q39_Part_8        object
Q39_Part_9        object
Q39_OTHER         object
Q40_Part_1        object
Q40_Part_2        object
Q40_Part_3        object
Q40_Part_4        object
Q40_Part_5        object
Q40_Part_6        object
Q40_Part_7        object
Q40_Part_8        object
Q40_Part_9        object
Q40_Part_10       object
Q40_Part_11      float64
Q40_OTHER         object
Q42_Part_1        object
Q42_Part_2        object
Q42_Part_3        object
Q42_Part_4        object
Q42_Part_5        object
Q42_Part_6        object
Q42_Part_7        object
Q42_Part_8        object
Q42_Part_9        object
Q42_Part_10       object
Q42_Part_11      float64
Q42_OTHER         object
Q27_B_Part_1      object
Q27_B_Part_2      object
Q27_B_Part_3      object
Q27_B_Part_4      object
Q27_B_Part_5      object
Q27_B_Part_6      object
Q27_B_Part_7      object
Q27_B_Part_8      object
Q27_B_Part_9      object
Q27_B_Part_10     object
Q27_B_Part_11    float64
Q27_B_OTHER       object
Q29_B_Part_1      object
Q29_B_Part_2      object
Q29_B_Part_3      object
Q29_B_Part_4     float64
Q29_B_OTHER       object
Q30_B_Part_1     float64
Q30_B_Part_2     float64
Q30_B_Part_3     float64
Q30_B_Part_4     float64
Q30_B_Part_5     float64
Q30_B_Part_6     float64
Q30_B_Part_7     float64
Q30_B_OTHER      float64
Q31_B_Part_1      object
Q31_B_Part_2      object
Q31_B_Part_3      object
Q31_B_Part_4      object
Q31_B_Part_5      object
Q31_B_Part_6      object
Q31_B_Part_7      object
Q31_B_Part_8      object
Q31_B_Part_9     float64
Q31_B_OTHER       object
Q32_B_Part_1      object
Q32_B_Part_2      object
Q32_B_Part_3      object
Q32_B_Part_4      object
Q32_B_Part_5      object
Q32_B_Part_6      object
Q32_B_Part_7      object
Q32_B_Part_8      object
Q32_B_Part_9      object
Q32_B_Part_10     object
Q32_B_Part_11     object
Q32_B_Part_12     object
Q32_B_Part_13     object
Q32_B_Part_14     object
Q32_B_Part_15     object
Q32_B_Part_16     object
Q32_B_Part_17     object
Q32_B_Part_18     object
Q32_B_Part_19     object
Q32_B_Part_20    float64
Q32_B_OTHER       object
Q34_B_Part_1      object
Q34_B_Part_2      object
Q34_B_Part_3      object
Q34_B_Part_4      object
Q34_B_Part_5      object
Q34_B_Part_6      object
Q34_B_Part_7      object
Q34_B_Part_8      object
Q34_B_Part_9      object
Q34_B_Part_10     object
Q34_B_Part_11     object
Q34_B_Part_12     object
Q34_B_Part_13     object
Q34_B_Part_14     object
Q34_B_Part_15     object
Q34_B_Part_16    float64
Q34_B_OTHER       object
Q36_B_Part_1      object
Q36_B_Part_2      object
Q36_B_Part_3      object
Q36_B_Part_4      object
Q36_B_Part_5      object
Q36_B_Part_6      object
Q36_B_Part_7     float64
Q36_B_OTHER       object
Q37_B_Part_1      object
Q37_B_Part_2      object
Q37_B_Part_3      object
Q37_B_Part_4      object
Q37_B_Part_5      object
Q37_B_Part_6      object
Q37_B_Part_7     float64
Q37_B_OTHER       object
Q38_B_Part_1      object
Q38_B_Part_2      object
Q38_B_Part_3      object
Q38_B_Part_4      object
Q38_B_Part_5      object
Q38_B_Part_6      object
Q38_B_Part_7      object
Q38_B_Part_8      object
Q38_B_Part_9      object
Q38_B_Part_10     object
Q38_B_Part_11    float64
Q38_B_OTHER       object
dtype: object
------------------------------------------------------------------------
Los nulos de este DataFrame son Q18_Part_1       23311
Q18_Part_2       23233
Q18_Part_3       23257
Q18_Part_4       21600
Q18_Part_5       24481
Q18_Part_6       25973
Q18_OTHER        25854
Q19_Part_1       23330
Q19_Part_2       23950
Q19_Part_3       25225
Q19_Part_4       23622
Q19_Part_5       25973
Q19_OTHER        25864
Q27_A_Part_1     22252
Q27_A_Part_2     23523
Q27_A_Part_3     22831
Q27_A_Part_4     25401
Q27_A_Part_5     25519
Q27_A_Part_6     25683
Q27_A_Part_7     25698
Q27_A_Part_8     25583
Q27_A_Part_9     25714
Q27_A_Part_10    25801
Q27_A_Part_11    25973
Q27_A_OTHER      25636
Q28              22846
Q29_A_Part_1     23703
Q29_A_Part_2     24470
Q29_A_Part_3     24013
Q29_A_Part_4     24178
Q29_A_OTHER      25875
Q30_A_Part_1     25065
Q30_A_Part_2     25132
Q30_A_Part_3     23665
Q30_A_Part_4     25288
Q30_A_Part_5     24023
Q30_A_Part_6     25201
Q30_A_Part_7     24463
Q30_A_OTHER      25881
Q31_A_Part_1     24982
Q31_A_Part_2     25028
Q31_A_Part_3     25259
Q31_A_Part_4     25641
Q31_A_Part_5     25148
Q31_A_Part_6     25770
Q31_A_Part_7     25719
Q31_A_Part_8     25680
Q31_A_Part_9     19592
Q31_A_OTHER      25698
Q36_A_Part_1     24964
Q36_A_Part_2     25192
Q36_A_Part_3     24787
Q36_A_Part_4     25629
Q36_A_Part_5     25021
Q36_A_Part_6     25080
Q36_A_Part_7     19635
Q36_A_OTHER      25759
Q37_A_Part_1     25222
Q37_A_Part_2     25657
Q37_A_Part_3     25652
Q37_A_Part_4     25702
Q37_A_Part_5     25596
Q37_A_Part_6     25524
Q37_A_Part_7     24777
Q37_A_OTHER      25750
Q38_A_Part_1     25756
Q38_A_Part_2     25435
Q38_A_Part_3     25867
Q38_A_Part_4     25875
Q38_A_Part_5     24247
Q38_A_Part_6     25854
Q38_A_Part_7     25863
Q38_A_Part_8     25796
Q38_A_Part_9     25882
Q38_A_Part_10    24906
Q38_A_Part_11    19734
Q38_A_OTHER      25748
Q39_Part_1       25680
Q39_Part_2       25586
Q39_Part_3       25837
Q39_Part_4       21387
Q39_Part_5       25268
Q39_Part_6       22908
Q39_Part_7       24125
Q39_Part_8       25668
Q39_Part_9       22806
Q39_OTHER        25667
Q40_Part_1       16324
Q40_Part_2       22945
Q40_Part_3       17303
Q40_Part_4       21977
Q40_Part_5       24816
Q40_Part_6       23170
Q40_Part_7       19533
Q40_Part_8       23280
Q40_Part_9       24169
Q40_Part_10      21091
Q40_Part_11      25973
Q40_OTHER        23892
Q42_Part_1       22226
Q42_Part_2       22532
Q42_Part_3       23034
Q42_Part_4       14600
Q42_Part_5       22977
Q42_Part_6       15572
Q42_Part_7       23951
Q42_Part_8       17996
Q42_Part_9       22623
Q42_Part_10      23978
Q42_Part_11      25973
Q42_OTHER        25390
Q27_B_Part_1     18479
Q27_B_Part_2     20325
Q27_B_Part_3     18489
Q27_B_Part_4     23384
Q27_B_Part_5     24261
Q27_B_Part_6     25063
Q27_B_Part_7     25189
Q27_B_Part_8     25181
Q27_B_Part_9     25341
Q27_B_Part_10    25423
Q27_B_Part_11    25973
Q27_B_OTHER      25704
Q29_B_Part_1     20595
Q29_B_Part_2     20180
Q29_B_Part_3     18476
Q29_B_Part_4     25973
Q29_B_OTHER      25895
Q30_B_Part_1     25973
Q30_B_Part_2     25973
Q30_B_Part_3     25973
Q30_B_Part_4     25973
Q30_B_Part_5     25973
Q30_B_Part_6     25973
Q30_B_Part_7     25973
Q30_B_OTHER      25973
Q31_B_Part_1     22324
Q31_B_Part_2     20944
Q31_B_Part_3     20669
Q31_B_Part_4     24141
Q31_B_Part_5     23771
Q31_B_Part_6     25210
Q31_B_Part_7     25181
Q31_B_Part_8     24954
Q31_B_Part_9     25973
Q31_B_OTHER      25624
Q32_B_Part_1     19838
Q32_B_Part_2     22684
Q32_B_Part_3     22937
Q32_B_Part_4     23669
Q32_B_Part_5     21685
Q32_B_Part_6     24887
Q32_B_Part_7     24778
Q32_B_Part_8     22830
Q32_B_Part_9     23293
Q32_B_Part_10    24422
Q32_B_Part_11    24762
Q32_B_Part_12    24791
Q32_B_Part_13    24480
Q32_B_Part_14    23728
Q32_B_Part_15    23129
Q32_B_Part_16    22689
Q32_B_Part_17    24346
Q32_B_Part_18    23923
Q32_B_Part_19    24720
Q32_B_Part_20    25973
Q32_B_OTHER      25718
Q34_B_Part_1     21050
Q34_B_Part_2     24706
Q34_B_Part_3     21883
Q34_B_Part_4     25414
Q34_B_Part_5     20552
Q34_B_Part_6     24709
Q34_B_Part_7     24274
Q34_B_Part_8     25190
Q34_B_Part_9     25697
Q34_B_Part_10    25705
Q34_B_Part_11    25447
Q34_B_Part_12    25658
Q34_B_Part_13    24630
Q34_B_Part_14    24278
Q34_B_Part_15    25711
Q34_B_Part_16    25973
Q34_B_OTHER      25681
Q36_B_Part_1     22477
Q36_B_Part_2     22325
Q36_B_Part_3     21212
Q36_B_Part_4     23790
Q36_B_Part_5     22642
Q36_B_Part_6     21221
Q36_B_Part_7     25973
Q36_B_OTHER      25650
Q37_B_Part_1     21156
Q37_B_Part_2     24586
Q37_B_Part_3     24324
Q37_B_Part_4     24428
Q37_B_Part_5     23290
Q37_B_Part_6     22821
Q37_B_Part_7     25973
Q37_B_OTHER      25693
Q38_B_Part_1     24697
Q38_B_Part_2     24390
Q38_B_Part_3     25340
Q38_B_Part_4     25382
Q38_B_Part_5     21734
Q38_B_Part_6     25244
Q38_B_Part_7     25236
Q38_B_Part_8     24953
Q38_B_Part_9     25307
Q38_B_Part_10    23226
Q38_B_Part_11    25973
Q38_B_OTHER      25596
dtype: int64

In [29]:
parametros(data_txt)

El tamaño del DataFrame es 675298
------------------------------------------------------------------------
El número de filas y columnas del DataFrame es (25973, 26)
------------------------------------------------------------------------
La descripción estadística del DataFrame es:

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
count,25973,25973,25973,25973,24829,24461,24403,23754,16325,16251,16126,15952,15391,15183,4656,2237,18489,24941,24934,24582,23970,19624,19315,15635,9484,9399
unique,66,7,15,7,12,5,5,9,18,5,7,6,26,6,20,16,6,825,1330,26,467,1401,756,96,1558,392
top,India,Master’s degree,Student,1-3 years,Python,A laptop,Never,< 1 year,Computers/Technology,0-49 employees,1-2,We are exploring ML methods (and may one day p...,$0-999,$0 ($USD),MySQL,Microsoft Power BI,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,None
freq,7434,10132,6804,7874,20213,16231,16457,9163,4079,5055,3642,3390,3369,5903,1110,790,7246,4740,2341,13234,5697,2688,1807,2891,2297,4123

------------------------------------------------------------------------
La información general del DataFrame es:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q3      25973 non-null  object
 1   Q4      25973 non-null  object
 2   Q5      25973 non-null  object
 3   Q6      25973 non-null  object
 4   Q8      24829 non-null  object
 5   Q11     24461 non-null  object
 6   Q13     24403 non-null  object
 7   Q15     23754 non-null  object
 8   Q20     16325 non-null  object
 9   Q21     16251 non-null  object
 10  Q22     16126 non-null  object
 11  Q23     15952 non-null  object
 12  Q25     15391 non-null  object
 13  Q26     15183 non-null  object
 14  Q33     4656 non-null   object
 15  Q35     2237 non-null   object
 16  Q41     18489 non-null  object
 17  Q7      24941 non-null  object
 18  Q9      24934 non-null  object
 19  Q12     24582 non-null  object
 20  Q14     23970 non-null  object
 21  Q16     19624 non-null  object
 22  Q17     19315 non-null  object
 23  Q24     15635 non-null  object
 24  Q32     9484 non-null   object
 25  Q34     9399 non-null   object
dtypes: object(26)
memory usage: 5.2+ MB

None

------------------------------------------------------------------------
Las columnas de este DataFrame son Index(['Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22',
       'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9', 'Q12', 'Q14',
       'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')
------------------------------------------------------------------------
El tipo de dato de las columnas de este DataFrame es Q3     object
Q4     object
Q5     object
Q6     object
Q8     object
Q11    object
Q13    object
Q15    object
Q20    object
Q21    object
Q22    object
Q23    object
Q25    object
Q26    object
Q33    object
Q35    object
Q41    object
Q7     object
Q9     object
Q12    object
Q14    object
Q16    object
Q17    object
Q24    object
Q32    object
Q34    object
dtype: object
------------------------------------------------------------------------
Los nulos de este DataFrame son Q3         0
Q4         0
Q5         0
Q6         0
Q8      1144
Q11     1512
Q13     1570
Q15     2219
Q20     9648
Q21     9722
Q22     9847
Q23    10021
Q25    10582
Q26    10790
Q33    21317
Q35    23736
Q41     7484
Q7      1032
Q9      1039
Q12     1391
Q14     2003
Q16     6349
Q17     6658
Q24    10338
Q32    16489
Q34    16574
dtype: int64

In [30]:
parametros(data_xml)

El tamaño del DataFrame es 77919
------------------------------------------------------------------------
El número de filas y columnas del DataFrame es (25973, 3)
------------------------------------------------------------------------
La descripción estadística del DataFrame es:

               time
count  2.597300e+04
mean   1.105466e+04
std    1.014716e+05
min    1.200000e+02
25%    4.430000e+02
50%    6.560000e+02
75%    1.038000e+03
max    2.488653e+06

------------------------------------------------------------------------
La información general del DataFrame es:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    25973 non-null  int64
 1   age     25973 non-null  object
 2   gender  25973 non-null  object
dtypes: int64(1), object(2)
memory usage: 608.9+ KB

None

------------------------------------------------------------------------
Las columnas de este DataFrame son Index(['time', 'age', 'gender'], dtype='object')
------------------------------------------------------------------------
El tipo de dato de las columnas de este DataFrame es time       int64
age       object
gender    object
dtype: object
------------------------------------------------------------------------
Los nulos de este DataFrame son time      0
age       0
gender    0
dtype: int64

## Unimos todos los dataframes en uno solo.

In [31]:
def union_dataframes(*args):
    lista = list(args)
    union = pd.concat(lista,axis=1)
    return union

In [32]:
df = union_dataframes(data_xml,data_txt,data_csv1,data_csv2)

In [33]:
parametros(df)

El tamaño del DataFrame es 6701034
------------------------------------------------------------------------
El número de filas y columnas del DataFrame es (25973, 258)
------------------------------------------------------------------------
La descripción estadística del DataFrame es:

,time,Q10_Part_16,Q18_Part_6,Q19_Part_5,Q27_A_Part_11,Q40_Part_11,Q42_Part_11,Q27_B_Part_11,Q29_B_Part_4,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_9,Q32_B_Part_20,Q34_B_Part_16,Q36_B_Part_7,Q37_B_Part_7,Q38_B_Part_11
count,2.597300e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.105466e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.014716e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.200000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.430000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6.560000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.038000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.488653e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

------------------------------------------------------------------------
La información general del DataFrame es:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 258 entries, time to Q38_B_OTHER
dtypes: float64(22), int64(1), object(235)
memory usage: 51.1+ MB

None

------------------------------------------------------------------------
Las columnas de este DataFrame son Index(['time', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=258)
------------------------------------------------------------------------
El tipo de dato de las columnas de este DataFrame es time               int64
age               object
gender            object
Q3                object
Q4                object
Q5                object
Q6                object
Q8                object
Q11               object
Q13               object
Q15               object
Q20               object
Q21               object
Q22               object
Q23               object
Q25               object
Q26               object
Q33               object
Q35               object
Q41               object
Q7                object
Q9                object
Q12               object
Q14               object
Q16               object
Q17               object
Q24               object
Q32               object
Q34               object
Q10_Part_1        object
Q10_Part_2        object
Q10_Part_3        object
Q10_Part_4        object
Q10_Part_5        object
Q10_Part_6        object
Q10_Part_7        object
Q10_Part_8        object
Q10_Part_9        object
Q10_Part_10       object
Q10_Part_11       object
Q10_Part_12       object
Q10_Part_13       object
Q10_Part_14       object
Q10_Part_15       object
Q10_Part_16      float64
Q10_OTHER         object
Q18_Part_1        object
Q18_Part_2        object
Q18_Part_3        object
Q18_Part_4        object
Q18_Part_5        object
Q18_Part_6       float64
Q18_OTHER         object
Q19_Part_1        object
Q19_Part_2        object
Q19_Part_3        object
Q19_Part_4        object
Q19_Part_5       float64
Q19_OTHER         object
Q27_A_Part_1      object
Q27_A_Part_2      object
Q27_A_Part_3      object
Q27_A_Part_4      object
Q27_A_Part_5      object
Q27_A_Part_6      object
Q27_A_Part_7      object
Q27_A_Part_8      object
Q27_A_Part_9      object
Q27_A_Part_10     object
Q27_A_Part_11    float64
Q27_A_OTHER       object
Q28               object
Q29_A_Part_1      object
Q29_A_Part_2      object
Q29_A_Part_3      object
Q29_A_Part_4      object
Q29_A_OTHER       object
Q30_A_Part_1      object
Q30_A_Part_2      object
Q30_A_Part_3      object
Q30_A_Part_4      object
Q30_A_Part_5      object
Q30_A_Part_6      object
Q30_A_Part_7      object
Q30_A_OTHER       object
Q31_A_Part_1      object
Q31_A_Part_2      object
Q31_A_Part_3      object
Q31_A_Part_4      object
Q31_A_Part_5      object
Q31_A_Part_6      object
Q31_A_Part_7      object
Q31_A_Part_8      object
Q31_A_Part_9      object
Q31_A_OTHER       object
Q36_A_Part_1      object
Q36_A_Part_2      object
Q36_A_Part_3      object
Q36_A_Part_4      object
Q36_A_Part_5      object
Q36_A_Part_6      object
Q36_A_Part_7      object
Q36_A_OTHER       object
Q37_A_Part_1      object
Q37_A_Part_2      object
Q37_A_Part_3      object
Q37_A_Part_4      object
Q37_A_Part_5      object
Q37_A_Part_6      object
Q37_A_Part_7      object
Q37_A_OTHER       object
Q38_A_Part_1      object
Q38_A_Part_2      object
Q38_A_Part_3      object
Q38_A_Part_4      object
Q38_A_Part_5      object
Q38_A_Part_6      object
Q38_A_Part_7      object
Q38_A_Part_8      object
Q38_A_Part_9      object
Q38_A_Part_10     object
Q38_A_Part_11     object
Q38_A_OTHER       object
Q39_Part_1        object
Q39_Part_2        object
Q39_Part_3        object
Q39_Part_4        object
Q39_Part_5        object
Q39_Part_6        object
Q39_Part_7        object
Q39_Part_8        object
Q39_Part_9        object
Q39_OTHER         object
Q40_Part_1        object
Q40_Part_2        object
Q40_Part_3        object
Q40_Part_4        object
Q40_Part_5        object
Q40_Part_6        object
Q40_Part_7        object
Q40_Part_8        object
Q40_Part_9        object
Q40_Part_10       object
Q40_Part_11      float64
Q40_OTHER         object
Q42_Part_1        object
Q42_Part_2        object
Q42_Part_3        object
Q42_Part_4        object
Q42_Part_5        object
Q42_Part_6        object
Q42_Part_7        object
Q42_Part_8        object
Q42_Part_9        object
Q42_Part_10       object
Q42_Part_11      float64
Q42_OTHER         object
Q27_B_Part_1      object
Q27_B_Part_2      object
Q27_B_Part_3      object
Q27_B_Part_4      object
Q27_B_Part_5      object
Q27_B_Part_6      object
Q27_B_Part_7      object
Q27_B_Part_8      object
Q27_B_Part_9      object
Q27_B_Part_10     object
Q27_B_Part_11    float64
Q27_B_OTHER       object
Q29_B_Part_1      object
Q29_B_Part_2      object
Q29_B_Part_3      object
Q29_B_Part_4     float64
Q29_B_OTHER       object
Q30_B_Part_1     float64
Q30_B_Part_2     float64
Q30_B_Part_3     float64
Q30_B_Part_4     float64
Q30_B_Part_5     float64
Q30_B_Part_6     float64
Q30_B_Part_7     float64
Q30_B_OTHER      float64
Q31_B_Part_1      object
Q31_B_Part_2      object
Q31_B_Part_3      object
Q31_B_Part_4      object
Q31_B_Part_5      object
Q31_B_Part_6      object
Q31_B_Part_7      object
Q31_B_Part_8      object
Q31_B_Part_9     float64
Q31_B_OTHER       object
Q32_B_Part_1      object
Q32_B_Part_2      object
Q32_B_Part_3      object
Q32_B_Part_4      object
Q32_B_Part_5      object
Q32_B_Part_6      object
Q32_B_Part_7      object
Q32_B_Part_8      object
Q32_B_Part_9      object
Q32_B_Part_10     object
Q32_B_Part_11     object
Q32_B_Part_12     object
Q32_B_Part_13     object
Q32_B_Part_14     object
Q32_B_Part_15     object
Q32_B_Part_16     object
Q32_B_Part_17     object
Q32_B_Part_18     object
Q32_B_Part_19     object
Q32_B_Part_20    float64
Q32_B_OTHER       object
Q34_B_Part_1      object
Q34_B_Part_2      object
Q34_B_Part_3      object
Q34_B_Part_4      object
Q34_B_Part_5      object
Q34_B_Part_6      object
Q34_B_Part_7      object
Q34_B_Part_8      object
Q34_B_Part_9      object
Q34_B_Part_10     object
Q34_B_Part_11     object
Q34_B_Part_12     object
Q34_B_Part_13     object
Q34_B_Part_14     object
Q34_B_Part_15     object
Q34_B_Part_16    float64
Q34_B_OTHER       object
Q36_B_Part_1      object
Q36_B_Part_2      object
Q36_B_Part_3      object
Q36_B_Part_4      object
Q36_B_Part_5      object
Q36_B_Part_6      object
Q36_B_Part_7     float64
Q36_B_OTHER       object
Q37_B_Part_1      object
Q37_B_Part_2      object
Q37_B_Part_3      object
Q37_B_Part_4      object
Q37_B_Part_5      object
Q37_B_Part_6      object
Q37_B_Part_7     float64
Q37_B_OTHER       object
Q38_B_Part_1      object
Q38_B_Part_2      object
Q38_B_Part_3      object
Q38_B_Part_4      object
Q38_B_Part_5      object
Q38_B_Part_6      object
Q38_B_Part_7      object
Q38_B_Part_8      object
Q38_B_Part_9      object
Q38_B_Part_10     object
Q38_B_Part_11    float64
Q38_B_OTHER       object
dtype: object
------------------------------------------------------------------------
Los nulos de este DataFrame son time                 0
age                  0
gender               0
Q3                   0
Q4                   0
Q5                   0
Q6                   0
Q8                1144
Q11               1512
Q13               1570
Q15               2219
Q20               9648
Q21               9722
Q22               9847
Q23              10021
Q25              10582
Q26              10790
Q33              21317
Q35              23736
Q41               7484
Q7                1032
Q9                1039
Q12               1391
Q14               2003
Q16               6349
Q17               6658
Q24              10338
Q32              16489
Q34              16574
Q10_Part_1       16466
Q10_Part_2       16181
Q10_Part_3       24911
Q10_Part_4       25764
Q10_Part_5       24203
Q10_Part_6       25798
Q10_Part_7       24906
Q10_Part_8       25220
Q10_Part_9       25625
Q10_Part_10      23922
Q10_Part_11      24179
Q10_Part_12      25383
Q10_Part_13      25722
Q10_Part_14      25713
Q10_Part_15      25826
Q10_Part_16      25973
Q10_OTHER        25236
Q18_Part_1       23311
Q18_Part_2       23233
Q18_Part_3       23257
Q18_Part_4       21600
Q18_Part_5       24481
Q18_Part_6       25973
Q18_OTHER        25854
Q19_Part_1       23330
Q19_Part_2       23950
Q19_Part_3       25225
Q19_Part_4       23622
Q19_Part_5       25973
Q19_OTHER        25864
Q27_A_Part_1     22252
Q27_A_Part_2     23523
Q27_A_Part_3     22831
Q27_A_Part_4     25401
Q27_A_Part_5     25519
Q27_A_Part_6     25683
Q27_A_Part_7     25698
Q27_A_Part_8     25583
Q27_A_Part_9     25714
Q27_A_Part_10    25801
Q27_A_Part_11    25973
Q27_A_OTHER      25636
Q28              22846
Q29_A_Part_1     23703
Q29_A_Part_2     24470
Q29_A_Part_3     24013
Q29_A_Part_4     24178
Q29_A_OTHER      25875
Q30_A_Part_1     25065
Q30_A_Part_2     25132
Q30_A_Part_3     23665
Q30_A_Part_4     25288
Q30_A_Part_5     24023
Q30_A_Part_6     25201
Q30_A_Part_7     24463
Q30_A_OTHER      25881
Q31_A_Part_1     24982
Q31_A_Part_2     25028
Q31_A_Part_3     25259
Q31_A_Part_4     25641
Q31_A_Part_5     25148
Q31_A_Part_6     25770
Q31_A_Part_7     25719
Q31_A_Part_8     25680
Q31_A_Part_9     19592
Q31_A_OTHER      25698
Q36_A_Part_1     24964
Q36_A_Part_2     25192
Q36_A_Part_3     24787
Q36_A_Part_4     25629
Q36_A_Part_5     25021
Q36_A_Part_6     25080
Q36_A_Part_7     19635
Q36_A_OTHER      25759
Q37_A_Part_1     25222
Q37_A_Part_2     25657
Q37_A_Part_3     25652
Q37_A_Part_4     25702
Q37_A_Part_5     25596
Q37_A_Part_6     25524
Q37_A_Part_7     24777
Q37_A_OTHER      25750
Q38_A_Part_1     25756
Q38_A_Part_2     25435
Q38_A_Part_3     25867
Q38_A_Part_4     25875
Q38_A_Part_5     24247
Q38_A_Part_6     25854
Q38_A_Part_7     25863
Q38_A_Part_8     25796
Q38_A_Part_9     25882
Q38_A_Part_10    24906
Q38_A_Part_11    19734
Q38_A_OTHER      25748
Q39_Part_1       25680
Q39_Part_2       25586
Q39_Part_3       25837
Q39_Part_4       21387
Q39_Part_5       25268
Q39_Part_6       22908
Q39_Part_7       24125
Q39_Part_8       25668
Q39_Part_9       22806
Q39_OTHER        25667
Q40_Part_1       16324
Q40_Part_2       22945
Q40_Part_3       17303
Q40_Part_4       21977
Q40_Part_5       24816
Q40_Part_6       23170
Q40_Part_7       19533
Q40_Part_8       23280
Q40_Part_9       24169
Q40_Part_10      21091
Q40_Part_11      25973
Q40_OTHER        23892
Q42_Part_1       22226
Q42_Part_2       22532
Q42_Part_3       23034
Q42_Part_4       14600
Q42_Part_5       22977
Q42_Part_6       15572
Q42_Part_7       23951
Q42_Part_8       17996
Q42_Part_9       22623
Q42_Part_10      23978
Q42_Part_11      25973
Q42_OTHER        25390
Q27_B_Part_1     18479
Q27_B_Part_2     20325
Q27_B_Part_3     18489
Q27_B_Part_4     23384
Q27_B_Part_5     24261
Q27_B_Part_6     25063
Q27_B_Part_7     25189
Q27_B_Part_8     25181
Q27_B_Part_9     25341
Q27_B_Part_10    25423
Q27_B_Part_11    25973
Q27_B_OTHER      25704
Q29_B_Part_1     20595
Q29_B_Part_2     20180
Q29_B_Part_3     18476
Q29_B_Part_4     25973
Q29_B_OTHER      25895
Q30_B_Part_1     25973
Q30_B_Part_2     25973
Q30_B_Part_3     25973
Q30_B_Part_4     25973
Q30_B_Part_5     25973
Q30_B_Part_6     25973
Q30_B_Part_7     25973
Q30_B_OTHER      25973
Q31_B_Part_1     22324
Q31_B_Part_2     20944
Q31_B_Part_3     20669
Q31_B_Part_4     24141
Q31_B_Part_5     23771
Q31_B_Part_6     25210
Q31_B_Part_7     25181
Q31_B_Part_8     24954
Q31_B_Part_9     25973
Q31_B_OTHER      25624
Q32_B_Part_1     19838
Q32_B_Part_2     22684
Q32_B_Part_3     22937
Q32_B_Part_4     23669
Q32_B_Part_5     21685
Q32_B_Part_6     24887
Q32_B_Part_7     24778
Q32_B_Part_8     22830
Q32_B_Part_9     23293
Q32_B_Part_10    24422
Q32_B_Part_11    24762
Q32_B_Part_12    24791
Q32_B_Part_13    24480
Q32_B_Part_14    23728
Q32_B_Part_15    23129
Q32_B_Part_16    22689
Q32_B_Part_17    24346
Q32_B_Part_18    23923
Q32_B_Part_19    24720
Q32_B_Part_20    25973
Q32_B_OTHER      25718
Q34_B_Part_1     21050
Q34_B_Part_2     24706
Q34_B_Part_3     21883
Q34_B_Part_4     25414
Q34_B_Part_5     20552
Q34_B_Part_6     24709
Q34_B_Part_7     24274
Q34_B_Part_8     25190
Q34_B_Part_9     25697
Q34_B_Part_10    25705
Q34_B_Part_11    25447
Q34_B_Part_12    25658
Q34_B_Part_13    24630
Q34_B_Part_14    24278
Q34_B_Part_15    25711
Q34_B_Part_16    25973
Q34_B_OTHER      25681
Q36_B_Part_1     22477
Q36_B_Part_2     22325
Q36_B_Part_3     21212
Q36_B_Part_4     23790
Q36_B_Part_5     22642
Q36_B_Part_6     21221
Q36_B_Part_7     25973
Q36_B_OTHER      25650
Q37_B_Part_1     21156
Q37_B_Part_2     24586
Q37_B_Part_3     24324
Q37_B_Part_4     24428
Q37_B_Part_5     23290
Q37_B_Part_6     22821
Q37_B_Part_7     25973
Q37_B_OTHER      25693
Q38_B_Part_1     24697
Q38_B_Part_2     24390
Q38_B_Part_3     25340
Q38_B_Part_4     25382
Q38_B_Part_5     21734
Q38_B_Part_6     25244
Q38_B_Part_7     25236
Q38_B_Part_8     24953
Q38_B_Part_9     25307
Q38_B_Part_10    23226
Q38_B_Part_11    25973
Q38_B_OTHER      25596
dtype: int64

In [34]:
df.to_csv('archivos_resultantes/archivo_unificado.csv')

## Unión de las columnas relacionadas.

In [35]:
def union(*args):

    lista_str = [str(x) for x in args]
    lista_final = [i for i in lista_str if i.lower() != 'nan']
    texto = ', '.join(lista_final)
    if len(lista_final) == 0 :
        return np.nan
    else:   
        return texto

In [36]:
df['Q10'] = df.apply(lambda dataframe: union(dataframe['Q10_Part_1'],dataframe['Q10_Part_2'],dataframe['Q10_Part_3'],dataframe['Q10_Part_4'],
                                          dataframe['Q10_Part_5'],dataframe['Q10_Part_6'],dataframe['Q10_Part_7'],dataframe['Q10_Part_8'],
                                          dataframe['Q10_Part_9'],dataframe['Q10_Part_10'],dataframe['Q10_Part_11'],dataframe['Q10_Part_12'],
                                          dataframe['Q10_Part_13'],dataframe['Q10_Part_14'],dataframe['Q10_Part_15'],dataframe['Q10_Part_16'],
                                          dataframe['Q10_OTHER']), axis = 1)

df.drop(['Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14',
       'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'], axis = 1, inplace = True)

In [37]:
df['Q18'] = df.apply(lambda dataframe: union(dataframe['Q18_Part_1'],dataframe['Q18_Part_2'],dataframe['Q18_Part_3'],dataframe['Q18_Part_4'],
                                          dataframe['Q18_Part_5'],dataframe['Q18_Part_6'], dataframe['Q18_OTHER']), axis = 1)
df.drop(['Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5',
       'Q18_Part_6', 'Q18_OTHER'], axis = 1, inplace = True)

In [38]:
df['Q19'] = df.apply(lambda dataframe: union(dataframe['Q19_Part_1'],dataframe['Q19_Part_2'],dataframe['Q19_Part_3'],dataframe['Q19_Part_4'],
                                          dataframe['Q19_Part_5'], dataframe['Q19_OTHER']), axis = 1)
df.drop(['Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5',
       'Q19_OTHER'], axis = 1, inplace = True)

In [39]:
df['Q27-A'] = df.apply(lambda dataframe: union(dataframe['Q27_A_Part_1'],dataframe['Q27_A_Part_2'],dataframe['Q27_A_Part_3'],
                                                    dataframe['Q27_A_Part_4'], dataframe['Q27_A_Part_5'], dataframe['Q27_A_Part_6'],
                                                    dataframe['Q27_A_Part_7'], dataframe['Q27_A_Part_8'], dataframe['Q27_A_Part_9'],
                                                    dataframe['Q27_A_Part_10'], dataframe['Q27_A_Part_11'], dataframe['Q27_A_OTHER']), axis = 1)
df.drop(['Q27_A_Part_1', 'Q27_A_Part_2', 'Q27_A_Part_3', 'Q27_A_Part_4', 'Q27_A_Part_5', 
        'Q27_A_Part_6', 'Q27_A_Part_7', 'Q27_A_Part_8', 'Q27_A_Part_9', 'Q27_A_Part_10', 'Q27_A_Part_11', 'Q27_A_OTHER'], 
        axis = 1, inplace = True)

In [40]:
df['Q29-A'] = df.apply(lambda dataframe: union(dataframe['Q29_A_Part_1'],dataframe['Q29_A_Part_2'],dataframe['Q29_A_Part_3'],
                                                    dataframe['Q29_A_Part_4'], dataframe['Q29_A_OTHER']), axis = 1)
df.drop(['Q29_A_Part_1', 'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4',
       'Q29_A_OTHER'], axis = 1, inplace = True)

In [41]:
df['Q30-A'] = df.apply(lambda dataframe: union(dataframe['Q30_A_Part_1'],dataframe['Q30_A_Part_2'],dataframe['Q30_A_Part_3'],
                                                    dataframe['Q30_A_Part_4'], dataframe['Q30_A_Part_5'], dataframe['Q30_A_Part_6'],
                                                     dataframe['Q30_A_Part_7'], dataframe['Q30_A_OTHER']), axis = 1)
df.drop(['Q30_A_Part_1', 'Q30_A_Part_2', 'Q30_A_Part_3', 'Q30_A_Part_4',
       'Q30_A_Part_5', 'Q30_A_Part_6', 'Q30_A_Part_7', 'Q30_A_OTHER'], axis = 1, inplace = True)

In [42]:
df['Q31-A'] = df.apply(lambda dataframe: union(dataframe['Q31_A_Part_1'],dataframe['Q31_A_Part_2'],dataframe['Q31_A_Part_3'],
                                                    dataframe['Q31_A_Part_4'], dataframe['Q31_A_Part_5'], dataframe['Q31_A_Part_6'],
                                                     dataframe['Q31_A_Part_7'], dataframe['Q31_A_Part_8'],dataframe['Q31_A_Part_9'], 
                                                     dataframe['Q31_A_OTHER']), axis = 1)
df.drop(['Q31_A_Part_1', 'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4',
       'Q31_A_Part_5', 'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8',
       'Q31_A_Part_9', 'Q31_A_OTHER'], axis = 1, inplace = True)

In [43]:
df['Q36-A'] = df.apply(lambda dataframe: union(dataframe['Q36_A_Part_1'],dataframe['Q36_A_Part_2'],dataframe['Q36_A_Part_3'],
                                                    dataframe['Q36_A_Part_4'], dataframe['Q36_A_Part_5'], dataframe['Q36_A_Part_6'],
                                                     dataframe['Q36_A_Part_7'], dataframe['Q36_A_OTHER']), axis = 1)
df.drop(['Q36_A_Part_1', 'Q36_A_Part_2', 'Q36_A_Part_3', 'Q36_A_Part_4',
       'Q36_A_Part_5', 'Q36_A_Part_6', 'Q36_A_Part_7', 'Q36_A_OTHER'], axis = 1, inplace = True)

In [44]:
df['Q37-A'] = df.apply(lambda dataframe: union(dataframe['Q37_A_Part_1'],dataframe['Q37_A_Part_2'],dataframe['Q37_A_Part_3'],
                                                    dataframe['Q37_A_Part_4'], dataframe['Q37_A_Part_5'], dataframe['Q37_A_Part_6'],
                                                     dataframe['Q37_A_Part_7'], dataframe['Q37_A_OTHER']), axis = 1)
df.drop(['Q37_A_Part_1', 'Q37_A_Part_2', 'Q37_A_Part_3', 'Q37_A_Part_4',
       'Q37_A_Part_5', 'Q37_A_Part_6', 'Q37_A_Part_7', 'Q37_A_OTHER'], axis = 1, inplace = True)

In [45]:
df['Q38-A'] = df.apply(lambda dataframe: union(dataframe['Q38_A_Part_1'],dataframe['Q38_A_Part_2'],dataframe['Q38_A_Part_3'],
                                                    dataframe['Q38_A_Part_4'], dataframe['Q38_A_Part_5'], dataframe['Q38_A_Part_6'],
                                                    dataframe['Q38_A_Part_7'], dataframe['Q38_A_Part_8'], dataframe['Q38_A_Part_9'],
                                                    dataframe['Q38_A_Part_10'], dataframe['Q38_A_Part_11'], dataframe['Q38_A_OTHER']), axis = 1)
df.drop(['Q38_A_Part_1', 'Q38_A_Part_2', 'Q38_A_Part_3', 'Q38_A_Part_4',
       'Q38_A_Part_5', 'Q38_A_Part_6', 'Q38_A_Part_7', 'Q38_A_Part_8',
       'Q38_A_Part_9', 'Q38_A_Part_10', 'Q38_A_Part_11', 'Q38_A_OTHER'], axis = 1, inplace = True)

In [46]:
df['Q39'] = df.apply(lambda dataframe: union(dataframe['Q39_Part_1'],dataframe['Q39_Part_2'],dataframe['Q39_Part_3'],
                                                    dataframe['Q39_Part_4'], dataframe['Q39_Part_5'], dataframe['Q39_Part_6'],
                                                    dataframe['Q39_Part_7'], dataframe['Q39_Part_8'], dataframe['Q39_Part_9'],
                                                    dataframe['Q39_OTHER']), axis = 1)
df.drop(['Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER'], axis = 1, inplace = True)

In [47]:
df['Q40'] = df.apply(lambda dataframe: union(dataframe['Q40_Part_1'],dataframe['Q40_Part_2'],dataframe['Q40_Part_3'],
                                                    dataframe['Q40_Part_4'], dataframe['Q40_Part_5'], dataframe['Q40_Part_6'],
                                                    dataframe['Q40_Part_7'], dataframe['Q40_Part_8'], dataframe['Q40_Part_9'],
                                                    dataframe['Q40_Part_10'], dataframe['Q40_Part_11'], dataframe['Q40_OTHER']), axis = 1)
df.drop(['Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5',
      'Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10', 'Q40_Part_11', 'Q40_OTHER'], axis = 1, inplace = True)

In [48]:
df['Q42'] = df.apply(lambda dataframe: union(dataframe['Q42_Part_1'],dataframe['Q42_Part_2'],dataframe['Q42_Part_3'],
                                                    dataframe['Q42_Part_4'], dataframe['Q42_Part_5'], dataframe['Q42_Part_6'],
                                                    dataframe['Q42_Part_7'], dataframe['Q42_Part_8'], dataframe['Q42_Part_9'],
                                                    dataframe['Q42_Part_10'], dataframe['Q42_Part_11'], dataframe['Q42_OTHER']), axis = 1)
df.drop(['Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4', 'Q42_Part_5',
       'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8', 'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'], axis = 1, inplace = True)

In [49]:
df['Q27-B'] = df.apply(lambda dataframe: union(dataframe['Q27_B_Part_1'],dataframe['Q27_B_Part_2'],dataframe['Q27_B_Part_3'],
                                                    dataframe['Q27_B_Part_4'], dataframe['Q27_B_Part_5'], dataframe['Q27_B_Part_6'],
                                                    dataframe['Q27_B_Part_7'], dataframe['Q27_B_Part_8'], dataframe['Q27_B_Part_9'],
                                                    dataframe['Q27_B_Part_10'], dataframe['Q27_B_Part_11'], dataframe['Q27_B_OTHER']), axis = 1)
df.drop(['Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3', 'Q27_B_Part_4',
       'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7', 'Q27_B_Part_8',
       'Q27_B_Part_9', 'Q27_B_Part_10','Q27_B_Part_11', 'Q27_B_OTHER'], axis = 1, inplace = True)

In [50]:
df['Q29-B'] = df.apply(lambda dataframe: union(dataframe['Q29_B_Part_1'],dataframe['Q29_B_Part_2'],dataframe['Q29_B_Part_3'],
                                                    dataframe['Q29_B_Part_4'], dataframe['Q29_B_OTHER']), axis = 1)
df.drop(['Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3', 'Q29_B_Part_4',
       'Q29_B_OTHER'], axis = 1, inplace = True)

In [51]:
df['Q30-B'] = df.apply(lambda dataframe: union(dataframe['Q30_B_Part_1'],dataframe['Q30_B_Part_2'],dataframe['Q30_B_Part_3'],
                                                    dataframe['Q30_B_Part_4'], dataframe['Q30_B_Part_5'], dataframe['Q30_B_Part_6'],
                                                     dataframe['Q30_B_Part_7'], dataframe['Q30_B_OTHER']), axis = 1)
df.drop(['Q30_B_Part_1', 'Q30_B_Part_2', 'Q30_B_Part_3', 'Q30_B_Part_4',
       'Q30_B_Part_5', 'Q30_B_Part_6', 'Q30_B_Part_7', 'Q30_B_OTHER'], axis = 1, inplace = True)

In [52]:
df['Q31-B'] = df.apply(lambda dataframe: union(dataframe['Q31_B_Part_1'],dataframe['Q31_B_Part_2'],dataframe['Q31_B_Part_3'],
                                                    dataframe['Q31_B_Part_4'], dataframe['Q31_B_Part_5'], dataframe['Q31_B_Part_6'],
                                                     dataframe['Q31_B_Part_7'], dataframe['Q31_B_Part_8'],dataframe['Q31_B_Part_9'], 
                                                     dataframe['Q31_B_OTHER']), axis = 1)
df.drop(['Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3', 'Q31_B_Part_4',
       'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7', 'Q31_B_Part_8',
       'Q31_B_Part_9', 'Q31_B_OTHER'], axis = 1, inplace = True)

In [53]:
df['Q32-B'] = df.apply(lambda dataframe: union(dataframe['Q32_B_Part_1'],dataframe['Q32_B_Part_2'],dataframe['Q32_B_Part_3'],
                                                    dataframe['Q32_B_Part_4'], dataframe['Q32_B_Part_5'], dataframe['Q32_B_Part_6'],
                                                    dataframe['Q32_B_Part_7'], dataframe['Q32_B_Part_8'], dataframe['Q32_B_Part_9'],
                                                    dataframe['Q32_B_Part_10'], dataframe['Q32_B_Part_11'], dataframe['Q32_B_Part_12'],
                                                    dataframe['Q32_B_Part_13'], dataframe['Q32_B_Part_14'], dataframe['Q32_B_Part_15'],
                                                    dataframe['Q32_B_Part_16'], dataframe['Q32_B_Part_17'], dataframe['Q32_B_Part_18'],
                                                    dataframe['Q32_B_Part_19'], dataframe['Q32_B_Part_20'], dataframe['Q32_B_OTHER']), axis = 1)
df.drop(['Q32_B_Part_1', 'Q32_B_Part_2', 'Q32_B_Part_3', 'Q32_B_Part_4',
       'Q32_B_Part_5', 'Q32_B_Part_6', 'Q32_B_Part_7', 'Q32_B_Part_8',
       'Q32_B_Part_9', 'Q32_B_Part_10', 'Q32_B_Part_11', 'Q32_B_Part_12',
       'Q32_B_Part_13', 'Q32_B_Part_14', 'Q32_B_Part_15', 'Q32_B_Part_16',
       'Q32_B_Part_17', 'Q32_B_Part_18', 'Q32_B_Part_19', 'Q32_B_Part_20',
       'Q32_B_OTHER'], axis = 1, inplace = True)

In [54]:
df['Q34-B'] = df.apply(lambda dataframe: union(dataframe['Q34_B_Part_1'], dataframe['Q34_B_Part_2'], dataframe['Q34_B_Part_3'],
                                                    dataframe['Q34_B_Part_4'], dataframe['Q34_B_Part_5'], dataframe['Q34_B_Part_6'],
                                                    dataframe['Q34_B_Part_7'], dataframe['Q34_B_Part_8'], dataframe['Q34_B_Part_9'],
                                                    dataframe['Q34_B_Part_10'], dataframe['Q34_B_Part_11'], dataframe['Q34_B_Part_12'],
                                                    dataframe['Q34_B_Part_13'], dataframe['Q34_B_Part_14'], dataframe['Q34_B_Part_15'],
                                                    dataframe['Q34_B_Part_16'], dataframe['Q34_B_OTHER']), axis = 1)
df.drop(['Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3', 'Q34_B_Part_4',
       'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7', 'Q34_B_Part_8',
       'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11', 'Q34_B_Part_12',
       'Q34_B_Part_13', 'Q34_B_Part_14', 'Q34_B_Part_15', 'Q34_B_Part_16',
       'Q34_B_OTHER'], axis = 1, inplace = True)

In [55]:
df['Q36-B'] = df.apply(lambda dataframe: union(dataframe['Q36_B_Part_1'],dataframe['Q36_B_Part_2'],dataframe['Q36_B_Part_3'],
                                                    dataframe['Q36_B_Part_4'], dataframe['Q36_B_Part_5'], dataframe['Q36_B_Part_6'],
                                                     dataframe['Q36_B_Part_7'], dataframe['Q36_B_OTHER']), axis = 1)
df.drop(['Q36_B_Part_1', 'Q36_B_Part_2', 'Q36_B_Part_3', 'Q36_B_Part_4',
       'Q36_B_Part_5', 'Q36_B_Part_6', 'Q36_B_Part_7', 'Q36_B_OTHER'], axis = 1, inplace = True)

In [56]:
df['Q37-B'] = df.apply(lambda dataframe: union(dataframe['Q37_B_Part_1'],dataframe['Q37_B_Part_2'],dataframe['Q37_B_Part_3'],
                                                    dataframe['Q37_B_Part_4'], dataframe['Q37_B_Part_5'], dataframe['Q37_B_Part_6'],
                                                     dataframe['Q37_B_Part_7'], dataframe['Q37_B_OTHER']), axis = 1)
df.drop(['Q37_B_Part_1', 'Q37_B_Part_2', 'Q37_B_Part_3', 'Q37_B_Part_4',
       'Q37_B_Part_5', 'Q37_B_Part_6', 'Q37_B_Part_7', 'Q37_B_OTHER'], axis = 1, inplace = True)

In [57]:
df['Q38-B'] = df.apply(lambda dataframe: union(dataframe['Q38_B_Part_1'],dataframe['Q38_B_Part_2'],dataframe['Q38_B_Part_3'],
                                                    dataframe['Q38_B_Part_4'], dataframe['Q38_B_Part_5'], dataframe['Q38_B_Part_6'],
                                                    dataframe['Q38_B_Part_7'], dataframe['Q38_B_Part_8'], dataframe['Q38_B_Part_9'],
                                                    dataframe['Q38_B_Part_10'], dataframe['Q38_B_Part_11'], dataframe['Q38_B_OTHER']), axis = 1)
df.drop(['Q38_B_Part_1', 'Q38_B_Part_2', 'Q38_B_Part_3', 'Q38_B_Part_4',
       'Q38_B_Part_5', 'Q38_B_Part_6', 'Q38_B_Part_7', 'Q38_B_Part_8',
       'Q38_B_Part_9', 'Q38_B_Part_10', 'Q38_B_Part_11', 'Q38_B_OTHER'], axis = 1, inplace = True)

In [58]:
df.sample(5)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
8886,487,25-29,Man,Israel,Master’s degree,Machine Learning Engineer,3-5 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,3-4 years,Computers/Technology,0-49 employees,5-9,"We have well established ML methods (i.e., mod...","70,000-79,999","$100,000 or more ($USD)",NaN,NaN,"Cloud-based data software & APIs (AWS, GCP, Az...","Python, C++","Visual Studio Code (VSCode) ,PyCharm ,Jupyter ...",NVIDIA GPUs,"Matplotlib ,Seaborn","TensorFlow ,PyTorch","Dense Neural Networks (MLPs, etc), Convolutio...",Build and/or run the data infrastructure that...,None,None,Amazon Web Services (AWS),Colab Notebooks,"Image segmentation methods (U-Net, Mask R-CNN,...",NaN,"Amazon Web Services (AWS) , Google Cloud Pla...","Amazon Elastic Compute Cloud (EC2) , Google ...","Amazon Simple Storage Service (S3) , Google ...",No / None,Automated hyperparameter tuning (e.g. hyperopt...,No / None,"Weights & Biases , ClearML",I do not share my work publicly,University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18360,1561,35-39,Man,Kenya,Master’s degree,Other,3-5 years,Python,A laptop,Never,1-2 years,Computers/Technology,"1000-9,999 employees",20+,"We recently started using ML methods (i.e., mo...","5,000-7,499",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R","RStudio , Spyder,Jupyter Notebook",None,"Matplotlib ,Plotly / Plotly Express ,Ggplot /...","Scikit-learn , TensorFlow ,Keras","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,SQLite,None,NaN,Kaggle Notebooks,NaN,NaN,Microsoft Azure,No / None,No / None,No / None,No / None,NaN,TensorBoard,I do not share my work publicly,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19650,1770,50-54,Man,India,Master’s degree,Data Scientist,10-20 years,Python,"A deep learning workstation (NVIDIA GTX, Lambd...",Once,5-10 years,Computers/Technology,0-49 employees,5-9,"We recently started using ML methods (i.e., mo...","150,000-199,999","$1000-$9,999",MySQL,NaN,"Local development environments (RStudio, Jupyt...","Python, Javascript, Other","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Build prototypes to explore applying machine ...,"MySQL , Microsoft Azure SQL Database , Amazon ...",Microsoft Power BI,Microsoft Azure,"Colab Notebooks, Azure Notebooks, Google Cloud...","Object detection methods (YOLOv3, RetinaNet, etc)","Encoder-decorder models (seq2seq, vanilla tran...","Amazon Web Services (AWS) , Microsoft Azure ...",Microsoft Azure Virtual Machines,"Microsoft Azure Data Lake Storage , Amazon Si...",Azure Machine Learning Studio,Automation of full ML pipelines (e.g. Google A...,"Google Cloud AutoML , Azure Automated Machi...","Weights & Biases , TensorBoard","GitHub , Colab","Coursera, edX, Udacity, Cloud-certification pr...","Email newsletters (Data Elixir, O'Reilly Data ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560,664,30-34,Man,Japan,Some college/university study without earning ...,Business Analyst,< 1 years,Python,A laptop,Never,< 1 year,Retail/Sales,"1000-9,999 employees",0,No (we do not use ML methods),$0-999,$1-$99,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,None,"Matplotlib ,Seaborn",Scikit-learn,Decision Trees or Random Forests,Analyze and understand data to influence produ...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,No / None,NaN,No / None,I do not share my work publicly,Udemy,"Kaggle (notebooks, forums, etc), YouTube (Kagg...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6335,557,18-21,Woman,India,Bachelor’s degree,Student,< 1 years,Python,A laptop,Never,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,Jupyter Notebook,Google Cloud TPUs,"Matplotlib ,Seaborn",NaN,NaN,NaN,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"edX, Kaggle Learn Courses","Kaggle (notebooks, forums, etc), Course Forums...","Amazon Web Services (AWS) , Microsoft Azure ...","Amazon Elastic Compute Cloud (EC2) , Microso...",NaN,"Azure Machine Learning Studio , Google Cloud...","MySQL , MongoDB","Microsoft Power BI, Tableau, Salesforce",Automated model architecture searches (e.g. da...,Azure Automated Machine Learning,NaN

In [59]:
df.to_csv('archivos_resultantes/columnas_unificadas.csv')