## Archivo dedicado a la limpieza de las columnas después de la unión.

In [70]:
import pandas as pd
import numpy as np
import regex as re
pd.options.display.max_columns=None

In [71]:
df = pd.read_csv('archivos_resultantes/columnas_unificadas.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head(2)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,"General purpose image/video tools (PIL, cv2, s...","Word embeddings/vectors (GLoVe, fastText, word...",Google Cloud Platform (GCP),Google Cloud Compute Engine,Google Cloud Storage (GCS),No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters (Data Elixir, O'Reilly Data ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,NaN,"Kaggle Notebooks,Colab Notebooks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses,Cloud-certification progr...","Journal Publications (peer-reviewed journals, ...","Google Cloud Platform (GCP) , Oracle Cloud",Google Cloud Compute Engine,NaN,NaN,"MySQL ,SQLite ,Oracle Database ,Google Cloud SQL","Google Data Studio,Qlik","Automated model selection (e.g. auto-sklearn, ...",Google Cloud AutoML,NaN

## Limpieza

In [72]:
def quitar_parentesis(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Quita los paréntesis de los datos. Devuelve
    estos elementos sin paréntesis."""

    try:
        return re.sub('\([^)]+\)','',elemento)
    except:
            return elemento

In [73]:
def quitar_espacios(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Elimina los espacios antes y después de los datos.Devuelve
    estos elementos sin los espacios."""

    try:
        return elemento.strip()
    except:
        return elemento

In [74]:
def eliminar_simbolo(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Quita los símbolos '$' de los datos. Devuelve
    estos elementos sin dicho símbolo."""
    try:
        return re.sub("\$", "", elemento)
    except:
        return elemento

In [75]:
for columna in df.columns:
    df[columna] = df[columna].apply(quitar_parentesis)
    df[columna] = df[columna].apply(quitar_espacios)
    df[columna] = df[columna].apply(eliminar_simbolo)

In [76]:
def limpieza_q4(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza 'I prefer not to answer' por 'Not answer'; 'Some college/university study without earning a bachelors degree' por 'University study, 
    no bachelor'; 'No formal education past high school' por 'High school'. Devuelve estos elementos reemplazados. 
    """

    return elemento.replace('I prefer not to answer','Not answer').replace('Some college/university study without earning a bachelor’s degree','University study, no bachelor').replace('No formal education past high school','High school')

In [77]:
df['Q4'] = df['Q4'].apply(limpieza_q4)

In [78]:
def limpieza_q5(elemento):
    
    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza 'Currently not employed' por 'Unemployed'. Devuelve
    estos elementos reemplazados."""


    return elemento.replace('Currently not employed','Unemployed')

In [79]:
df['Q5'] = df['Q5'].apply(limpieza_q5)

In [80]:
def limpieza_q6(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza la palabra años por nada y acorta la opción 'I have never written code' por 'No code'. Devuelve
    estos elementos reemplazados."""
    return elemento.replace(' years','').replace('I have never written code','No code')

In [81]:
df['Q6'] = df['Q6'].apply(limpieza_q6)

In [82]:
def limpieza_q13(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza 'More than 25 times'por '>25', 'Once'por '1', y además quita los espacios antes y despúes. Devuelve
    estos elementos reemplazados."""

    try:
        return elemento.replace('More than 25 times','>25').replace('Once','1').strip()
    except:
        return elemento

In [83]:
df['Q13'] = df['Q13'].apply(limpieza_q13)

In [84]:
def limpieza_q15(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza 'I do not use machine learning methods' por 'Not use', '20 or more years' por '>=20', hemos quitado la palabra ' years' 
    y además quita los espacios antes y despúes. Devuelve
    estos elementos reemplazados."""

    try:
        return elemento.replace('I do not use machine learning methods','Not use').replace('20 or more years','>=20').replace(' years','').replace(' year','').strip()
    except:
        return elemento

In [85]:
df['Q15'] = df['Q15'].apply(limpieza_q15)

In [86]:
def limpieza_q21(elemento):

    """Esta función recibe cada uno de los elementos de la columna que se indique. Reemplaza los rangos de número de empleados por una
    etiqueta, en función del tamaño de la empresa, y devuelve estos elementos reemplazados. """
    try:
        if elemento == '0-49 employees':
            return 'Startup'
        elif elemento == '50-249 employees':
            return 'Small'
        elif elemento == '250-999 employees':
            return 'Medium'
        elif elemento == '1000-9,999 employees':
            return 'Large'
        elif elemento == '10,000 or more employees':
            return 'Macro'
    except:
        return elemento

In [87]:
df['Q21'] = df['Q21'].apply(limpieza_q21)

In [88]:
def limpieza_q23(elemento):

    """Esta función recibe cada uno de los elementos de la columna que se indique."""

    if elemento == 'We are exploring ML methods':
        return 'Exploring'
    elif elemento == 'I do not know':
        return 'Don´t know'
    elif elemento == 'We use ML methods for generating insights':
        return 'For insights'
    elif elemento == 'We have well established ML methods':
        return 'Well established'
    elif elemento == 'We recently started using ML methods':
        return 'Recently started'
    elif elemento == 'No':
        return elemento
    else:
        return np.nan

In [89]:
df['Q23'] = df['Q23'].apply(limpieza_q23)

In [90]:
def limpieza_años(elemento):

    """Esta función recibe cada uno de los elementos de la columna que se indique."""
    
    if elemento == 'No code':
        return 'No code'
    elif elemento == '< 1' or elemento == '1-3':
        return 'Junior'
    elif elemento == '3-5':
        return 'Mid-level'
    elif elemento == '5-10':
        return 'Senior'
    elif elemento == '10-20' or elemento == '20+':
        return 'Architect'
    else:
        return np.nan

In [91]:
df['Q6'] = df['Q6'].apply(limpieza_años)	

df.head(1)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
0,910,50-54,Man,India,Bachelor’s degree,Other,Senior,Python,A laptop,2-5 times,5-10,Manufacturing/Fabrication,Small,3-4,No,"25,000-29,999",100-999,NaN,NaN,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,None,NaN,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters ,Kaggle ,YouTube ,Podcasts ,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Tratamiento de nulos

In [92]:
df.isnull().sum()*100/df.shape[0]

time        0.000000
age         0.000000
gender      0.000000
Q3          0.000000
Q4          0.000000
Q5          0.000000
Q6          0.000000
Q8          4.404574
Q11         5.821430
Q13         6.044739
Q15         8.543487
Q20        37.146267
Q21        37.431179
Q22        37.912448
Q23        38.582374
Q25        40.742309
Q26        41.543141
Q33        82.073692
Q35        91.387210
Q41        28.814538
Q7          3.973357
Q9          4.000308
Q12         5.355562
Q14         7.711855
Q16        24.444616
Q17        25.634313
Q24        39.802872
Q32        63.485158
Q34        63.812421
Q28        87.960574
Q10        32.098718
Q18        76.610326
Q19        85.196165
Q27-A      72.925731
Q29-A      75.998152
Q30-A      76.171409
Q31-A      63.146344
Q36-A      64.135833
Q37-A      88.615100
Q38-A      64.436145
Q39        64.536249
Q40        32.826397
Q42        33.307666
Q27-B      56.662688
Q29-B      63.954876
Q30-B     100.000000
Q31-B      65.837601
Q32-B      59.261541
Q34-B      65.494937
Q36-B      68.251646
Q37-B      74.465791
Q38-B      75.570785
dtype: float64

Hemos revisado las opciones que hay para cada una de estas preguntas y hemos observado que existía la opción de None o similiar. Por ello, hemos asumido que esta pregunta no fue respondida por el encuestado, por lo que hemos decidido cambiar los nulos por unknown.

In [93]:
columnas_un = ['Q8', 'Q11', 'Q13','Q15', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35','Q7', 'Q9', 'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34', 'Q28','Q10', 'Q18', 'Q19', 'Q27-A',
                'Q29-A', 'Q30-A', 'Q31-A', 'Q36-A','Q37-A', 'Q38-A', 'Q39', 'Q40', 'Q42', 'Q27-B', 'Q29-B', 'Q30-B','Q31-B', 'Q32-B', 'Q34-B', 'Q36-B', 'Q37-B', 'Q38-B']

In [94]:
for columna in columnas_un:
    
    df[columna].replace(np.nan,"unknown", inplace = True)

Hemos revisado las opciones de la pregunta Q41, y no da la opción de None, por lo que puede ser que no respondiera porque no utiliza ninguna o simplemente no quisiese contestar.

In [95]:
df['Q41'].replace(np.nan,"Not use/Unknown", inplace = True)

In [96]:
df.isnull().sum()*100/df.shape[0]

time      0.0
age       0.0
gender    0.0
Q3        0.0
Q4        0.0
Q5        0.0
Q6        0.0
Q8        0.0
Q11       0.0
Q13       0.0
Q15       0.0
Q20       0.0
Q21       0.0
Q22       0.0
Q23       0.0
Q25       0.0
Q26       0.0
Q33       0.0
Q35       0.0
Q41       0.0
Q7        0.0
Q9        0.0
Q12       0.0
Q14       0.0
Q16       0.0
Q17       0.0
Q24       0.0
Q32       0.0
Q34       0.0
Q28       0.0
Q10       0.0
Q18       0.0
Q19       0.0
Q27-A     0.0
Q29-A     0.0
Q30-A     0.0
Q31-A     0.0
Q36-A     0.0
Q37-A     0.0
Q38-A     0.0
Q39       0.0
Q40       0.0
Q42       0.0
Q27-B     0.0
Q29-B     0.0
Q30-B     0.0
Q31-B     0.0
Q32-B     0.0
Q34-B     0.0
Q36-B     0.0
Q37-B     0.0
Q38-B     0.0
dtype: float64

## Cambio nombre columnas

Hemos realizado varios cambios en las diferentes columnas seleccionadas para poder hacer estos datos mucho más manejables y visuales.

In [97]:
nuevas_columnas = {"time" : "time", "age": "age", "gender" : "gender", "Q3" : "country", 
                "Q4" : "studies", "Q5" : "position", "Q6" : "years_programming", 
                "Q8" : "preferred_language", "Q11" : "computing_platform", "Q13": "times_use_tpu",
                "Q15" : "years_use_ml", "Q20" : "industry", "Q21" : "company_size", 
                "Q22" : "da_employees", "Q23" : "company_ml", "Q25" : "year_salary",          
                "Q26" : "investment_ml", "Q33" : "main_bd", "Q35" : "main_bi",
                "Q41" : "main_da", "Q7" : "programming_languages", "Q9" : "ide", 
                "Q12" : "hardware", "Q14" : "visualization", "Q16" : "ml_tools",
                "Q17" : "ml_algorithm", "Q24" : "duties", "Q32": "bd_a", "Q34" : "bi",
                "Q28" : "best_cloud_services", "Q10" : "notebooks", "Q18" : "computer_vision",
                "Q19" : "nlp", "Q27-A" : "cloud_platforms_a", "Q29-A": "cloud_product_a", 
                "Q30-A" : "data_storage_products_a", "Q31-A" : "ml_products_a", 
                "Q36-A" : "automated_ml_tools_a", "Q37-A" : "regular_automl_a", "Q38-A" : "ml_experiments_a", 
                "Q39": "sharing", "Q40" : "courses", "Q42" : "media", "Q27-B" : "cloud_platforms_b", 
                "Q29-B": "cloud_products_b", "Q30-B" : "data_storage_products_b", "Q31-B" : "ml_products_b", 
                "Q32-B" : "bd_b", "Q34-B" : "bi_b", "Q36-B" : "automated_ml_tools_b", 
                "Q37-B" : "regular_automl_b", "Q38-B" : "ml_experiments_b"}


# Cambiamos los nombres de las columnas por unos que sean más descriptivos, en función de la pregunta que se realizase en la encuesta.

In [98]:
df.rename(columns = nuevas_columnas, inplace = True)
df.head(1)

,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,duties,bd_a,bi,best_cloud_services,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,regular_automl_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,data_storage_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,910,50-54,Man,India,Bachelor’s degree,Other,Senior,Python,A laptop,2-5 times,5-10,Manufacturing/Fabrication,Small,3-4,No,"25,000-29,999",100-999,unknown,unknown,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,None,unknown,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,unknown,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters ,Kaggle ,YouTube ,Podcasts ,...",unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

## Insercción nueva columna

In [99]:
df.insert(0, 'id_survey', range(0, len(df)))

# Introducimos una nueva columna que contenga el ID de la persona encuestada, para poder trabajar mejor con los datos en el futuro.

In [100]:
df.head()

,id_survey,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,duties,bd_a,bi,best_cloud_services,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,regular_automl_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,data_storage_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,0,910,50-54,Man,India,Bachelor’s degree,Other,Senior,Python,A laptop,2-5 times,5-10,Manufacturing/Fabrication,Small,3-4,No,"25,000-29,999",100-999,unknown,unknown,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,None,unknown,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,unknown,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters ,Kaggle ,YouTube ,Podcasts ,...",unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,Architect,Python,A cloud computing platform,Never,< 1,Manufacturing/Fabrication,Large,1-2,Exploring,"60,000-69,999",0,unknown,unknown,Advanced statistical software,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that ...,unknown,unknown,unknown,"Kaggle Notebooks,Colab Notebooks",unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,"Kaggle Learn Courses,Cloud-certification progr...",Journal Publications,"Google Cloud Platform , Oracle Cloud",Google Cloud Compute Engine,unknown,unknown,"MySQL ,SQLite ,Oracle Database ,Google Cloud SQL","Google Data Studio,Qlik",Automated model selection,Google Cloud AutoML,unknown
2,2,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,Junior,Python,A laptop,Never,Not use,Academics/Education,Large,0,Don´t know,0-999,0,MySQL,unknown,Basic statistical software,"Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,unknown,unknown,None of these activities are an important part...,"MySQL , MongoDB",None,unknown,Kaggle Notebooks,unknown,unknown,unknown,unknown,unknown,DataRobot,No / None,unknown,No / None,I do not share my work publicly,DataCamp,"Kaggle ,YouTube","Amazon Web Services , Google Cloud Platform","Microsoft Azure Virtual Machines , Google Clou...",unknown,"Azure Machine Learning Studio , Google Cloud V...","MySQL ,PostgreSQL ,MongoDB","Microsoft Power BI,Tableau",Automated model selection,DataRobot AutoML,TensorBoard
3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,Architect,Python,A cloud computing platform,>25,5-10,Academics/Education,Large,0,Don´t know,"30,000-39,999",0,unknown,unknown,Local development environments,Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks , Convolutional Neural N...",Do research that advances the state of the art...,unknown,unknown,unknown,Colab Notebooks,"General purpose image/video tools ,Image segme...",unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,"Coursera,edX","YouTube ,Blogs ,Journal Publications","Amazon Web Services , Microsoft Azure","Microsoft Azure Virtual Machines , Google Clou...",unknown,unknown,unknown,unknown,unknown,unknown,unknown
4,4,781,45-49,Man,India,Doctoral degree,Other,Junior,Python,A cloud computing platform,Never,10-20,Academics/Education,Small,5-9,For insights,"30,000-39,999","1000-9,999",unknown,unknown,Local development environments,"Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI,unknown,Google Cloud Datalab,unknown,unknown,Microsoft Azure,Microsoft Azure Virtual Machines,Microsoft Azure Data Lake Storage,Azure Machine Learning Studio,No / None,unknown,Weights & Biases,I do not share my work publicly,"Kaggle Learn Courses,Udemy",Journal Publications,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown

In [101]:
df.isnull().sum()*100/df.shape[0]

id_survey                  0.0
time                       0.0
age                        0.0
gender                     0.0
country                    0.0
studies                    0.0
position                   0.0
years_programming          0.0
preferred_language         0.0
computing_platform         0.0
times_use_tpu              0.0
years_use_ml               0.0
industry                   0.0
company_size               0.0
da_employees               0.0
company_ml                 0.0
year_salary                0.0
investment_ml              0.0
main_bd                    0.0
main_bi                    0.0
main_da                    0.0
programming_languages      0.0
ide                        0.0
hardware                   0.0
visualization              0.0
ml_tools                   0.0
ml_algorithm               0.0
duties                     0.0
bd_a                       0.0
bi                         0.0
best_cloud_services        0.0
notebooks                  0.0
computer_vision            0.0
nlp                        0.0
cloud_platforms_a          0.0
cloud_product_a            0.0
data_storage_products_a    0.0
ml_products_a              0.0
automated_ml_tools_a       0.0
regular_automl_a           0.0
ml_experiments_a           0.0
sharing                    0.0
courses                    0.0
media                      0.0
cloud_platforms_b          0.0
cloud_products_b           0.0
data_storage_products_b    0.0
ml_products_b              0.0
bd_b                       0.0
bi_b                       0.0
automated_ml_tools_b       0.0
regular_automl_b           0.0
ml_experiments_b           0.0
dtype: float64

## Guardamos el archivo

In [103]:
df.to_pickle('archivos_resultantes/archivo_unificado_limpio.pkl')